.git
.gitignore
.github

.venv
venv
env

__pycache__
**/__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache

.env
.env.*
!.env.example

src/notebook
src/tests
**/*.ipynb

.DS_Store
*.log
*.pid
*.sock

.vscode
.idea
